@import "tailwindcss";

/* Light Mode */
:root {
  --background: #ffffff;
  --foreground: #011013;

  --bg-primary: #ffffff;
  --bg-secondary: #C0DEE3;
  --bg-accent: #81BDC8;

  --text-primary: #011013;
  --text-secondary: #023E49;

  --accent-blue: #047C91;
  --accent-gold: #FFCF52;
  --accent-yellow: #FEBC11;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #011013;
    --foreground: #E5E7EB;

    --bg-primary: #011013;
    --bg-secondary: #023E49;
    --bg-accent: #047C91;

    --text-primary: #E5E7EB;
    --text-secondary: #81BDC8;

    --accent-blue: #047C91;
    --accent-gold: #FFCF52;
    --accent-yellow: #FEBC11;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}